* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*body {
   background-color: rebeccapurple; 
}*/
.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 92%;
  margin: 50px auto;
  /* padding: 50px 0; */
  border-radius: 20px;
  border: 1px solid red;
  overflow: hidden;
}
.sideMenu {
  background-color: aliceblue;
  height: 100vh;
  padding: 20px;
}
.profile {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.menu {
  margin-top: 50px;
  list-style: none;
}
.menu li {
  display: flex;
  align-items: center;
  font-size: 20px;
  padding: 5px;
  cursor: pointer;
  /* list-style-type: none; removed by display flex  */
}
.menu span {
  margin-right: 10px;
}
/* #addTask {
  cursor: pointer;
} */
.toDos {
  background-color: azure;
  border-radius: 10px;
  padding: 10px;
  & button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    color: #0000ee;
    margin: 30px;
  }
}
.listsSection {
  margin-top: 50px;
  & h3 {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    color: darkgray;
  }
  & #manageFolder {
    text-decoration: none;
  }
}
.myLists {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 1px solid grey;
  align-items: center;
  height: 60px;
  padding: 5px;

  /* & span {
    margin-left: 150px;
  } */
}
#listDropdown {
  cursor: pointer;
}
#listDropup {
  display: none;
  cursor: pointer;
}
.listGroups {
  list-style: none;
  margin-left: 30px;
  & li {
    border-bottom: 1px solid grey;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
  }
  & .listCounter {
    font-weight: 300;
  }
}

dialog {
  width: 30%;
  margin: auto;
  height: 50%;
  border-radius: 10px;
  overflow: hidden;
  & form {
    max-width: 80%;
    margin: 20px auto;
    padding: 10px;
    & p {
      margin-bottom: 20px;
    }
    & input {
      font-size: 20px;
      width: 100%;
      padding: 5px;
    }
    & #notes {
      width: 100%;
      margin-bottom: 20px;
    }
    & #dueDate {
      /* display: none; */
      font-size: 16px;
    }
    & select {
      margin: 0 0 10px 10px;
      width: 150px;
      height: 30px;
    }
    & .saveAndCancel {
      display: flex;
      justify-content: space-evenly;
      & button {
        width: 100px;
        height: 40px;
        border-radius: 10px;
      }
      & #save {
        background-color: #0000ee;
        color: white;
        border: none;
      }
      & #cancel {
        color: #0000ee;
        background: white;
        border: 1px solid #0000ee;
      }
    }
  }
}
.content {
  background-color: bisque;
}
